<div class="container">
    <!-- <input type="checkbox" id="check"> -->
    <div class="login form">
      <header>Reset password?</header>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="sendOtp()">
        <!-- Email -->
        <input type="text" placeholder="Enter your email" formControlName="email" aria-describedby="emailError" />
        <div *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.invalid" class="error" id="emailError"
          aria-live="polite">
          <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">Invalid email format.</small>
        </div>
        <button class="button" [disabled]="resetPasswordForm.invalid" type="submit">Send OTP</button>
      </form>
      <div class="signup">
        <span class="signup">Already have an account?
          <label for="check"><a routerLink="/">Login</a></label>
        </span>
      </div>
    </div>
  </div>

  <app-loader [isLoaderVisible]="isLoaderVisible"></app-loader>

  <app-modal [modalMessage]="modalMessage" [isModalVisible]="isModalVisible" (emitCloseModal)="closeModal()"></app-modal>