<ng-container *ngIf="user">
  <div class="container profile-view">
    <div class="profile-details">
      <div class="detail">
        <label>Full Name:</label>
        <p>{{user.firstName}} {{user.lastName}}</p>
      </div>
      <div class="detail">
        <label>Email:</label>
        <p>{{user.email}}</p>
      </div>
    </div>
    <button class="button logout-button" (click)="logout()">Logout</button>
  </div>
</ng-container>
<app-loader [isLoaderVisible]="isLoaderVisible"></app-loader>