<div class="container">
    <div class="otp form">
        <header>Verify OTP</header>
        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
            <p class="instruction" *ngIf="user">
                Please enter the 4-digit OTP sent to your email <strong>{{ hideEmail(user.email) }}</strong>.
            </p>

            <div class="otp-inputs">
                <input type="text" maxlength="1" formControlName="digit1"
                    (keydown)="moveToNext($event, 'digit1', 'digit2')" (paste)="handlePaste($event)" />
                <input type="text" maxlength="1" formControlName="digit2"
                    (keydown)="moveToNext($event, 'digit2', 'digit3')" (paste)="handlePaste($event)" />
                <input type="text" maxlength="1" formControlName="digit3"
                    (keydown)="moveToNext($event, 'digit3', 'digit4')" (paste)="handlePaste($event)" />
                <input type="text" maxlength="1" formControlName="digit4" (keydown)="moveToNext($event, 'digit4', '')"
                    (paste)="handlePaste($event)" />
            </div>

            <div *ngIf="otpForm.invalid && otpForm.touched" class="error">
                <small>Please enter all 4 digits of the OTP.</small>
            </div>

            <div *ngIf="invalidOtp" class="error">
                <small>Invalid OTP pin provided.</small>
            </div>

            <div class="resend">
                Didn't receive the OTP? <label for="check"><a (click)="resendOtp()">Resend</a></label>
            </div>
            
            <button class="button" [disabled]="otpForm.invalid" type="submit">Verify</button>
        </form>
    </div>
</div>

<app-loader [isLoaderVisible]="isLoaderVisible"></app-loader>