<div class="container">
    <div class="registration form">
        <header>Update Password</header>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">

            <input type="password" placeholder="Create a password" formControlName="password"
                aria-describedby="passwordError" />
            <div *ngIf="updatePasswordForm.get('password')?.touched && updatePasswordForm.get('password')?.invalid"
                class="error" id="passwordError" aria-live="polite">
                <small *ngIf="updatePasswordForm.get('password')?.errors?.['required']">Password is required.</small>
                <small *ngIf="updatePasswordForm.get('password')?.errors?.['minlength']">Password must be at least 8
                    characters.</small>
            </div>

            <input type="password" placeholder="Confirm your password" formControlName="confirmPassword"
                aria-describedby="confirmPasswordError" />
            <div *ngIf="updatePasswordForm.get('confirmPassword')?.touched && updatePasswordForm.get('confirmPassword')?.invalid"
                class="error" id="confirmPasswordError" aria-live="polite">
                <small *ngIf="updatePasswordForm.get('confirmPassword')?.errors?.['required']">Confirm password is
                    required.</small>
            </div>

            <div *ngIf="updatePasswordForm.hasError('passwordMismatch')" class="error" aria-live="polite">
                <small>Passwords do not match.</small>
            </div>

            <button class="button" [disabled]="updatePasswordForm.invalid" type="submit">Update Password</button>
        </form>

        <div class="signup">
            <span>Already have an account? <a routerLink="/">Login</a></span>
        </div>

    </div>
</div>
<app-loader [isLoaderVisible]="isLoaderVisible"></app-loader>
<app-modal [modalMessage]="modalMessage" [isModalVisible]="isModalVisible" (emitCloseModal)="closeModal()"></app-modal>